/**
 * Responsive Scss - A simple, responsive scss framework
 * 
 * Created from Dave Gamache's Skeleton (Boo!!!)  (https://github.com/dhg/Skeleton)
 * @author Justin Bangerter 2013
 */

$link-color: #333;
$link-visited-color: #000;
$bg-color: #EEE;

@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/**
 * Embosses a box
 * @color1 used for top-left border color
 * @color2 used for bottom-right border color
 */
@mixin box-emboss($color1, $color2) {
    border: 1px solid $color2;
    border-top: 1px solid $color1;
    border-left: 1px solid $color1;
}

@mixin solid-border($color, $width:1px){
    border: solid $width $color;
}

@function white($alpha:1) {
    @return rgba(255,255,255,$alpha);
}

@function black($alpha:1){
    @return rgba(0,0,0,$alpha);
}

%dark-text {
    color: #444;
}
%light-text {
    color: #777;
}

%full-bottom { margin-bottom: 20px; }

/* #Basic Styles
 ================================================== */
body {
    background: white(1);
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    @extend %dark-text;
}


/* #Typography
 ================================================== */
h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

.subheader { @extend %light-text }

p { margin: 0; @extend %full-bottom }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; @extend %light-text }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

/* Blockquotes */
blockquote, blockquote p { font-size: 17px; line-height: 24px; font-style: italic; @extend %light-text;}
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
 ================================================== */
a, a:visited { color: $link-color; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: $link-visited-color; }
p a, p a:visited { line-height: inherit; }


/* #Lists
 ================================================== */
ul, ol { @extend %full-bottom;}
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* #Images
 ================================================== */

img { max-width: 100%; height: auto; }


/* #Buttons
 ================================================== */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    @extend %full-bottom;
    @extend %dark-text;
    background: $bg-color;
    @include background-image($bg-color, linear-gradient(top, white(.2) 0%, black(.2) 100%));
    @include box-emboss(#ccc, #aaa);
    @include border-radius(3px);
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px white(.75);
    cursor: pointer;
    line-height: normal;
    padding: 8px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &:hover {
        color: #222;
        background: #DDD;
        @include background-image(#DDD, linear-gradient(top, white(.3) 0%, black(.3) 100%));
        @include box-emboss(#aaa, #888);
    }

    &:active {
        background: #ccc;
        @include background-image(#ccc, linear-gradient(top, white(.35) 0%, black(.4) 100%));
        @include solid-border(#666);
    }

    &.full-width {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center;
    }
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* #Forms
 ================================================== */

form, fieldset { @extend %full-bottom; }

%textfield {
    @extend %full-bottom;
    @extend %light-text;
    @include solid-border(#ccc);
    background: #fff; 
    @include border-radius(2px);
    padding: 6px 4px;
    outline: none;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    @extend %textfield;

    &:focus {
        @extend %dark-text;
        @include solid-border(#aaa);
        @include box-shadow(0, 0, 3px, black(.2));
    }
}

select {
    @extend %textfield;
    padding: 0; 
    width: 220px; 
}

textarea { min-height: 60px; }

label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px; 

    & span {
        @extend %dark-text;
        font-weight: normal;
        font-size: 13px;
    }
}

input[type="checkbox"] { display: inline; }

/* #Misc
 ================================================== */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.full-bottom { margin-bottom: 20px !important; }


/* #Base 960 Grid
 ================================================== */

@function gutter($width){
    @if $width > 300px {
        @return 10px
    }
    @else {
        @return 0px
    }
}

@function interval($count, $width){
    @return $width/$count;
}

@mixin col($i, $count, $width) {
    $interval: interval($count, $width);
    $initial: $interval - 2 * gutter($width);
    & .col#{$i} {
        @extend %col#{$width};
        width: (interval($count, $width) * $i - 2 * gutter($width));
    }
}

@mixin off($i, $count, $width) {
    & .off#{$i} { padding-left: (interval($count, $width) * $i);}
}

@mixin cols($count, $width) {
    @for $i from 1 through $count {
        @include col($i, $count, $width);
        @include off($i, $count, $width);
    }

}

@mixin col-ratio($i, $of, $width) {
    & .col#{$i}_#{$of} {
        @extend %col#{$width};
        width: $i * $width / $of - 2 * gutter($width);
    }
}

@mixin col-ratios($of, $width) {
    @for $i from 1 through ($of - 1) {
        @include col-ratio($i, $of, $width);
    }
}

@mixin col-base($width){
    %col#{$width} {
        float: left;
        display: inline;
        margin-left: gutter($width);
        margin-right: gutter($width); 
    }
}


@mixin layout($width){
    @include col-base($width);

    .container {
        position: relative;
        width: $width + 20px - 2 *gutter($width);
        margin: 0 auto;
        padding: 0;

        @include col-ratios(3,$width);
        @include cols(16,$width);
    }
}

@mixin hard-layout($width){
    %col#{$width} {
        margin: 0;
        width: $width;
        padding-left: 0;
    }

    .container {
        width: $width;
        @for $i from 1 through 16 {
            & .col#{$i} { @extend %col#{$width} }
            & .off#{$i} { @extend %col#{$width} }
        }
    }
}


.row { @extend %full-bottom; }

@include layout(960px);

/* #Tablet (Portrait) 768px
 ================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    @include layout(768px);
}

/* #Mobile (Portrait) 320px
================================================== */
@media only screen and (max-width: 767px) {
    @include hard-layout(300px);
}

/* #Mobile (Landscape) 480px
 ================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    @include hard-layout(420px);
}


%clear {
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
}

%clear-both { clear: both; }
%no-width { width: 0; }
%content-space { content: "\0020"; }

.container:after {
    @extend %content-space;
    @extend %clear-both;
    @extend %clear;
}

.clearfix {
    zoom: 1;

    &:before, &:after {
        @extend %content-space;
        @extend %no-width;
        @extend %clear;
    }

    &:after {
        @extend %clear-both;
    }
}

.row {
    @extend .clearfix
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    @extend %clear;
    @extend %clear-both;
    @extend %no-width;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

