/**
 * Responsive Scss - A simple, responsive scss framework
 * 
 * Created from Dave Gamache's Skeleton (Boo!!!)  (https://github.com/dhg/Skeleton)
 * @author Justin Bangerter 2013
 */

@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "shared/common";


/* #Basic Styles
 ================================================== */
body {
    background-color: $bg-color;
    @extend %font-face-1;
    font: 14px/21px;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    @extend %dark-text;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}


/* #Typography
 ================================================== */
h1, h2, h3, h4, h5, h6 {
  @extend %dark-text;
  @extend %font-face-1;
  font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 36px; line-height: 38px; margin-bottom: 14px;}
h2 { font-size: 30px; line-height: 36px; margin-bottom: 10px; }
h3 { font-size: 24px; line-height: 30px; margin-bottom: 8px; }
h4 { font-size: 18px; line-height: 28px; margin-bottom: 4px; }
h5 { font-size: 16px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

.subheader { @extend %light-text; }
p { @extend %full-bottom; @extend %font-face-2; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; @extend %light-text; }

em { font-style: italic; }
strong { font-weight: bold; @extend %dark-text;}
small { font-size: 80%; }


/* #Links
 ================================================== */
a, a:visited {
  color: $link-color;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus { 
  color: $link-visited-color;
  text-decoration: underline; 
}
p a, p a:visited {
  line-height: inherit; 
}


/* #Lists
 ================================================== */
ul, ol { @extend %full-bottom;}
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }
